* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

.main{
  width: 971px; /*何故か960pxで治らない*/
  margin: 50px auto;
  /*background-color: red;*/ /*余白確認用*/
}

.box{
  width: 300px;
  padding: 10px;
  position: relative;
  display: inline-block;
  margin-right: 30px; /*この更に右側に何故か5px程の余白がつく*/
  background-color: #EEEEEE;
}

.box:last-child{
  margin-right: 0;
}

.b-img1{
  width: 280px;
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

.b-img2{
  width: 280px;
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

.b-img3{
  width: 280px;
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

.step-number{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

h3{
  margin-bottom: 5px;
}

footer{
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width:768px){
  
  .main{
    width: 100%;
    text-align: center;
  }
  
  .box{
    width: 90%;
    margin: 0 auto 20px;
  }
  
  .box:last-child{  /*再提出1回目、6/1追加分*/
    margin: 0 auto;
  }

  .b-img1{
    width: 100%;
  }
  
  .b-img2{
    width: 100%;
  }
  
  .b-img3{
    width: 100%;
  }
  
}